<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="billy.lab.interesting">

    <permission
        android:name="billy.lab.permission.READ_PERMISSION"
        android:protectionLevel="signature"/>
    <permission
        android:name="billy.lab.permission.WRITE_PERMISSION"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Interesting"
        tools:targetApi="31">

        <provider
            android:name=".MyContentProvider"
            android:authorities="billy.lab.interesting.provider"
            android:readPermission="billy.lab.permission.READ_PERMISSION"
            android:writePermission="billy.lab.permission.WRITE_PERMISSION"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>